// Specific CSS for your home-page
.button{
  color: white;
  width: 200px;
  height: 100px;
  /*add any other properties you want to style*/
}

.banner h1 {
  margin: 0;
  color: rgba(255, 255, 255, 0.776);
  text-shadow: 1px 1px 3px rgba(202, 164, 194, 0.694);
  font-size: 32px;
  font-weight: lighter;
}

.text-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-banner {
  color: #e7640d;
    padding: 8px 24px;
    border-radius: 4px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 500px;
    text-decoration: none;
    text-align: center;
    &:hover{
      text-decoration: none;
    }
}

//.banner p {
  //font-size: 20px;
  //color: white;
  //opacity: .7;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//}

.cards {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  min-width: 992px;
}

.card-category {
  width: 100%;
  padding: 50px;
  background-size: cover;
  background-position: center;
}

.card-category h2 {
  color: white
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  font-style: bold;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  font-size: larger;
  font-style: oblique;
}

.home-content {
  margin: 100px;
}

.home-content h1 {
  color: rgb(231, 100, 13);
  font-style: oblique
  }
