<h1>Cones for Rent</h1>
<% @cones.each do |cone| %>
  <p><%= cone.name %></p>
  <p><%= cone.description %></p>
<% end %>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cone name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
